html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#container {
	height: 100%;
	/*overflow-y: hidden;*/
	text-align: center;
}



/*   Color Columns   */

#colorContainer {
	height: 99%;
	margin: 0 auto;
}

.color {
	height: 100%;
	width: 19%;
	display: inline-block;
	border-radius: 30px;
}

#col1 {
	background-color: #d6fff6;
}

#col2 {
	background-color: #231651;
}

#col4 {
	background-color: #2374ab;
}

#col5 {
	background-color: #ff8484;
}

/*   Column 3   */

#col3 {
	height: 100%;
	width: 19%;
	display: inline-block;
}

#col3 .color {
	background-color: #4dccbd;
	height: 33%;
	width: 100%;
}

#playlist {
	height: 33%;
}